<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}小飞老师{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>    
    <!-- <header>
        <h1>欢迎来到小飞老师的主页            
        </h1>
    </header> -->
    <nav>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/tech">IT记录</a></li>
            <li><a href="/teach">IT教学</a></li>
            <li><a href="/reading">阅读记录</a></li>            
            <li><a href="http://blog.liufeisheng.cn">博客</a></li>
            <li><a href="http://www.liufeisheng.cn/c/aboutme/">关于我</a></li>
            
        </ul>
    </nav>
    <container>
        <left>
            {% block left %}
            {% endblock %}
        </left>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <right>
            {% block right %}
            {% endblock %}
        </right>
    </container>
    
    {% block script %}
    {% endblock %}
    <footer>
        <p>&copy; Copyright Fei 2024.</p>
    </footer>
</body>
</html>
